<div id="DataList">
    @Html.Action("MessageList", "Blog", new { A_Id = ViewData["A_Id"] })
</div>
<div id="MessageCreate">
    @if (User.Identity.IsAuthenticated)
    {
        @Html.Action("CreateMessage", "Blog", new { A_Id = ViewData["A_Id"] })
    }
    else
    {
        <text>要修改或刪除文章，請先</text>
        @Html.ActionLink("登入", "Login", "Members")
    }
</div>
